.header h1 {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #ffffff;
  margin: 0;
}

.header h2 {
  text-decoration: underline;
  font-size: 13px;
  line-height: 14px;
  letter-spacing: 0px;
  color: #ffffff;
  margin: 0;
}

.contentContainer {
  flex-direction: column;
}

.skuCardsContainer {
  margin-top: 24px;
  justify-content: start;
}

@media screen and (min-width: 1300px) {
  .contentContainer {
    flex-direction: row;
  }
  .skuCardsContainer {
    margin-top: 0;
    flex-grow: 2;
    max-width: 900px;
    justify-content: space-evenly;
  }
}