.accordion-item {
  background-color: transparent;
}

.accordion-item * {
  z-index: 1 !important;
}

.accordion-body {
  padding: 1rem 0;
}

.accordion-button {
  background-color: #37b04c !important;
}

.accordion-button::after {
  background-image: url("/assets/white-arrow.svg");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("/assets/white-arrow.svg");
  transform: rotate(180deg);
}
