.react-bootstrap-daterangepicker-container {
  display: block !important;
}

.daterangepicker {
  transition: all 0.3s ease-in-out;
  right: 24px !important;
  padding: 20px;
}

.daterangepicker .header .img-container {
  width: 25px;
  height: 25px;
  margin-right: 16px;
}

.daterangepicker .header .img-container > img {
  width: 100%;
  height: 100%;
}

.daterangepicker .header h1 {
  color: #8B8B8B;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  margin: 0;
}

.daterangepicker .header > .right {
  color: #8B8B8B;
  font-size: 20px;
}

.daterangepicker .header > .rigth:hover {
  cursor: pointer;
}

.daterangepicker .drp-buttons {
  text-align: left;
  line-height: 48px;
  border-top: none;
  width: 140px;
  padding: 0;
}

.daterangepicker .drp-buttons .btn {
  line-height: 32px;
  width: 100px;
  margin-left: 0;
  width: 100%;
}

.daterangepicker.show-calendar .ranges {
  margin-top: 0;
  padding-right: 16px;
}

.daterangepicker .ranges li {
  border-bottom: 1px solid #ddd;
  padding: 16px 8px;
  border-radius: 4px;
}
.daterangepicker .ranges li:last-child {
  border-bottom: none;
}

.daterangepicker .ranges li.active {
  background-color: #37b04c;
}

.daterangepicker td.in-range,
.daterangepicker td.active,
.daterangepicker td.active:hover,
.daterangepicker td.available:hover {
  background-color: #eef8eb;
  color: #37b04c;
  border-color: transparent;
  border-radius: 50%;
  font-weight: bold;
}

.daterangepicker .ranges li:hover {
  background-color: #289e45;
  color: #fff;
}
.daterangepicker .drp-selected {
  display: none;
}

.btn-primary {
  color: #fff;
  background-color: #37b04c;
  border-color: #37b04c;
}

.btn-primary:hover {
  color: #fff;
  background-color: #289e45;
  border-color: #37b04c;
}

.btn-primary:disabled {
  color: #37b04c;
  background-color: #eef8eb;
  border-color: #eef8eb;
}

.daterangepicker .cancelBtn {
  display: none;
}

.daterangepicker.show-ranges.ltr .drp-calendar.left {
  border-left: none;
}

.daterangepicker .drp-calendar.right {
  margin: 0;
}

.daterangepicker .drp-calendar.left,
.daterangepicker .drp-calendar.right {
  height: 260px;
  padding: 0;
}

.daterangepicker .calendar-table {
  height: 290px;
  padding: 8px;
  border-left: 1px solid #ddd;
  position: relative;
  top: 10px;
}

.daterangepicker .table-condensed {
  height: 100%;
  padding: 0 8px;
}

.daterangepicker .drp-calendar.left .table-condensed {
  border-left: 1px solid #ddd;
}

.daterangepicker:before,
.daterangepicker:after {
  display: none;
}
